@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}

@layer components {
  /* header */
  .header {
    @apply fixed top-0 left-0 z-50 flex items-center justify-between w-full px-4 py-6 transition bg-bg;
  }

  /* 드롭다운 */
  [class^="dropdown"] {
    @apply relative z-10 inline-block;
  }

  /* 드롭다운 버튼 */
  [class^="dropdown"] .button-dropdown {
    @apply flex items-center justify-between px-8 py-3 text-2xl text-left text-white bg-right bg-no-repeat w-72 bg-bg text-opacity-80;
  }

  /* 아이콘 */
  .icon-arrow-down {
    @apply w-5 h-3 transition bg-arrow-down;
  }
  [class^="dropdown"].active .icon-arrow-down {
    @apply -rotate-180;
  }

  /* 옵션 */
  [class^="dropdown"] .options-list {
    @apply absolute w-full h-0 overflow-hidden transition-all rounded-3xl;
  }
  [class^="dropdown"] .options-list::-webkit-scrollbar {
    @apply hidden;
  }
  [class^="dropdown"].active .options-list {
    @apply overflow-y-auto border-2 border-white max-h-dropdown;
  }
  [class^="dropdown"] .options-list li {
    @apply flex w-full h-16 text-white border-b-2 border-white bg-bg;
  }
  [class^="dropdown"] .options-list li.selected {
    @apply text-black bg-active;
  }
  [class^="dropdown"] .options-list li:last-child {
    @apply border-b-0;
  }
  [class^="dropdown"] .options-list li button {
    @apply flex-1 text-2xl;
  }

  .section-search [class^="dropdown"] {
    @apply mr-6;
  }

  /* 더보기 버튼 */
  .button-more {
    @apply flex text-white;
  }
  .button-more span {
    @apply mr-0.5;
  }
  .button-more .icon-arrow-more {
    @apply w-6 h-6 bg-arrow-more;
  }

  .button-more-loading {
    @apply flex items-center justify-center w-48 h-16 text-white border active:opacity-80;
  }
  .button-more-loading span {
    @apply text-xl mr-0.5;
  }
  .button-more-loading .icon-arrow-down-thin {
    @apply aspect-square w-arrow-down-thin bg-arrow-down-thin;
  }

  /* 타이틀 */
  .title1 {
    @apply text-5xl text-white;
  }
  .title2 {
    @apply leading-tight text-white text-40;
  }
  .title3 {
    @apply text-4xl text-white;
  }
  .title4 {
    @apply text-2xl text-white;
  }

  /* 드롭다운, 인풋 둥근 테두리 */
  .round-border {
    @apply border-2 border-white rounded-4xl;
  }

  /* 인풋 */
  .input-wrap {
    @apply relative inline-block;
  }

  .input-wrap input {
    @apply text-2xl text-white bg-transparent;
  }

  .input-wrap button {
    @apply absolute -translate-y-1/2 top-1/2 right-2;
  }

  .input-wrap + .error-message {
    @apply mt-2 text-red-600;
  }

  /* 인풋 검색 */
  .input-wrap.search input {
    @apply py-3 pr-12 pl-9;
  }

  .input-wrap.search button {
    @apply right-6;
  }

  /* 인풋 - 로그인 */
  .input-wrap .input-underline {
    @apply py-3 pr-10 border-b-2 outline-none border-login-border focus:border-white;
  }

  /* 아이콘 */
  .icon-search {
    @apply block w-6 h-8 bg-search;
  }

  .icon-clear {
    @apply block w-6 aspect-square bg-clear;
  }

  /* 화면 가운데 정렬 컨텐츠 container */
  .container-center-content {
    @apply flex items-center justify-center min-h-screen p-5;
  }
  .spinner {
    @apply w-20 h-20 border-8 rounded-full border-login-border animate-spin border-t-white;
  }

  /* 인풋 number 화살표 없애기 */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }
}
/* 스와이퍼 옵션 */
.swiper-pagination-bullet {
  @apply bg-active mr-7.5 !important;
}
.swiper-pagination-bullet:last-child {
  @apply mr-0 !important;
}
.swiper-pagination-bullet-active {
  @apply bg-primary !important;
}
.swiper-button-next {
  @apply bg-center bg-no-repeat bg-contain bg-arrow-next after:hidden;
  width: 50px !important;
  height: 50px !important;
}
.swiper-button-prev {
  @apply bg-center bg-no-repeat bg-contain bg-arrow-prev after:hidden;
  width: 50px !important;
  height: 50px !important;
}

.section-rates .swiper-button-prev,
.section-latest .swiper-button-prev {
  @apply absolute left-4;
}
.section-rates .swiper-button-next,
.section-latest .swiper-button-next {
  @apply absolute right-4;
}
