<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>button</title>
    <link rel="stylesheet" href="./../css/output.css" />
  </head>
  <body class="p-12 bg-bg">
    <h1 class="mb-6 text-4xl text-white">Buttons</h1>
    <!-- 메인 더보기 버튼 -->
    <button type="button" class="button-more">
      <span>More</span>
      <i class="icon-arrow-more"></i>
    </button>

    <!-- 로딩 more 버튼 -->
    <button type="button" class="button-more-loading">
      <span>More</span>
      <i class="icon-arrow-down-thin"></i>
    </button>
  </body>
</html>
