<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>error page</title>
    <link rel="stylesheet" href="./../css/output.css" />
  </head>
  <body class="bg-bg">
    <div class="flex-col container-center-content">
      <div>
        <img src="./../images/warning.svg" alt="" />
      </div>
      <p class="max-w-3xl text-2xl text-center text-gray-300">
        We have encountered a system error while processing your request. We
        apologize for the inconvenience. Please check URL and try again.
      </p>
    </div>
  </body>
</html>
